* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    
    }
    
    :root {
    
    font-size: 62.5%; 
    --nav-bg-color: black;
    --nav-text-color: white;
    
    }
    
    
    body {
   
        font-size: 2.8rem;
        
        font-family: 'Roboto', sans-serif;
        flex:var(--nav-text-color);
        font-size: 30px;
    font-weight: 300px;
        


}

img {
    width: 1900px;
    height: 350px;
 
}

   ul
   {
text-align: center;
background-color: rgb(48, 27, 172);
color: white;
height: 4.5rem;
   }


   .noticia1, .noticia2 {
    display: inline-block;
    width: 48%; 
    margin-right: 2%; 
    vertical-align: top; 
  }
  
  .noticia2 {
    margin-right: 0; 
  }

  .imagens-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .imagem1 {
   margin: 0.2rem;
    flex-basis: 30%;
  width: 905px;
height: 400px;


}
  
  .imagem2 {
    flex-basis: 10%;
  }
  
 

  li{

color: rgb(48, 27, 172);;



  }

  li:hover
/*     ta doido caraaa        */
  {

    color: white;
  }

  .imagem2

  {

 margin-left: 45rem;
    flex-basis: 30%;
  width: 905px;
height: 430px;

  }

  body {
   
    background-repeat: no-repeat;
    background-size: cover;
background-color: beige;
}